---
layout: default
---
<article class="post container">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<div class="post-share">
  <div class="container">
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" class="post-share-icon twitter"></a>
    <a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon evernote"></a>
    <a href="https://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
  </div>
</div>

<!-- {% if site.disqus.shortname %}
<div class="comment container">
  <div id="disqus_thread">
  </div>
</div>
{% endif %} -->


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment container">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus 评论框 end -->
{% endif %}

{% if site.netease_comment %}
<!-- 网易云跟帖 评论框 start -->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<!-- 网易云跟帖 评论框 end -->
{% endif %}

<!--   gitalk       -->
{% if site.gitalk %}
<div class="comment">
    {% include comments.html %}
</div>
{% endif %}